.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  margin: 1%;
}

.view-table {
  width : 90%;
  text-align: left;
  margin-top: 15px;
}

.view-thead {
  color: grey;
}

body {
  background-color: white;
}

table {
  text-align: left;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn:hover {text-decoration: underline;}

.info {color: dodgerblue;}